@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply relative inline-flex items-center gap-2 rounded-full border-4 border-gray-950 px-4 py-2 text-sm font-bold no-underline shadow transition duration-100 hover:left-1 hover:top-1 hover:opacity-100 hover:shadow-sm focus:border-gray-800 focus:shadow-gray-800 focus:outline-none sm:text-base;
  }
  .btn-primary {
    @apply bg-gray-50 text-gray-950 hover:bg-gray-400 hover:text-gray-900;
  }
  .btn-secondary {
    @apply bg-gray-400 text-gray-950 hover:bg-gray-300 hover:text-gray-900;
  }
}

:root {
  --angle: 6deg;
  --abs-angle: max(var(--angle), var(--angle) * -1);
  --tan-alpha: tan(var(--abs-angle));
  --skew-padding: calc(100vw * var(--tan-alpha) / 2);

  font-family: "Overpass Variable", system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
