@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply relative  inline-flex items-center gap-2 rounded-full border-4 border-primary-950 px-4 py-2 text-sm font-bold no-underline shadow transition duration-100 hover:opacity-100 focus:border-primary-800 focus:shadow-sm focus:outline-none sm:text-base;
  }
  .btn-primary {
    @apply bg-primary-50 text-primary-950 hover:bg-primary-400 hover:text-gray-900;
  }
  .btn-secondary {
    @apply bg-primary-400 text-primary-950 hover:bg-primary-300 hover:text-gray-900;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
